{% extends "__base.html" %}
{% load static %}
{% comment %}
  This file sits between base and layouts (__l_zzz.html files) so you can
  override parts of __base.html.

  To customize the look and feel of your installation, create
  a new "__overrides.html" file in the appropriate theme
  (themes/your_theme/templates/__overrides.html) and override blocks of code
  from "__base.html" as desired.

  All of the templates should be building off of this template, so
  there is no need to alter "__base.html" nor to duplicate it in new themes.
{% endcomment %}

<!-- Page Title -->

{% block head_page_title %}
  {% if page_title %}{{page_title}} «  {% endif %}{% if site_title %}{{site_title}} {% endif %}
{% endblock head_page_title %}

{% block head_page_css %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

  <!-- Local CSS -->
  <link href="{% static 'css/tablesort.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/panews.css' %}" rel="stylesheet" media="screen">

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.libraries.psu.edu/matomo/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

{% endblock head_page_css %}

<!-- Other Options -->

{% block footer %}

<div id="footer">
        <div class="container">
          <h2>{{site_title}}</h2>
		  <p>For questions about content, please contact <a href="mailto:lsk3@psu.edu">Sue Kellerman</a>, Judith O. Sieg Librarian for Preservation and former PI of the PA Newspaper Project and the PA
			  Digital Newspaper Project. For technical or other issues, please contact <a href="mailto:andrew@psu.edu">Andrew Gearhart</a> or <a href="mailto:jak47@psu.edu">Jeff Knapp</a>, Larry and
			  Ellen Foster Communications Librarian.
		  </p>
		  <p>
			  Site created using <a href="https://github.com/open-oni/open-oni">open-oni</a> software, built off the Library of Congress's <a href="https://github.com/LibraryofCongress/chronam">chronam</a>.		</p>
		  <p><a href = "https://libraries.psu.edu/accessibility-help">Accessibility Help</a></p>
        </div><!-- /container -->
</div><!-- /footer -->

{% endblock footer %}

<!--

head_all
  head_page_meta
  head_page_css
  head_page_top_js
  head_page_metadata
  head_opensearch
  head_extra (often used by other templates, so if you overwrite this it's best to use block.super first)

-->

  <!-- adding some page level metadata -->

  {% block head_page_meta %}

  {{ block.super }} {% comment %} block.super gets the contents of this block from parent template {% endcomment %}

  <!-- Adding some extra page metadata -->
  <meta name="description" content="an interactive archive of historically significant periodicals from Pennsylvania">
  <meta name="author" content="Pennsylvania State University libraries">

  {% endblock head_page_meta %}

        {% block header_title %}
          <div class="header_title">
            <div class="container">
              <h1 class="title">{{ site_title }}</h1><p class="subtitle">Significant historical Pennsylvania newspapers</p>
            </div>
          </div><!-- /header -->
        {% endblock header_title %}
   <!-- ===========
      Navbar
      ============= -->
        {% block navbar %}
        <nav class="navbar navbar-inverse header_navbar">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% block navbar_home %}<li><a href="{% url 'openoni_home' %}">Home</a></li>{% endblock navbar_home %}
                {% block navbar_pos1 %}<li><a href="{% url 'openoni_newspapers' %}">Browse by Title</a></li>{% endblock navbar_pos1 %}
                <!--{% block navbar_pos3 %}<li><a href="{% url 'openoni_about_api' %}">API</a></li>{% endblock navbar_pos3 %}-->
                {% block navbar_pos4 %}<li><a href="{% url 'openoni_issues' %}">Browse by Date</a></li>{% endblock navbar_pos4 %}
                {% block navbar_pos5 %}<li><a href="{% url 'openoni_help' %}">Help</a></li>{% endblock navbar_pos5 %}
                {% block navbar_pos2 %}<li><a href="https://libraries.psu.edu/about/collections/digital-newspapers/pennsylvania-newspaper-archive">About</a></li>{% endblock navbar_pos2 %}
              </ul>

              {% block navbar_advancedsearch %}
              <ul class="nav navbar-nav navbar-right">
                <li class="nav_advanced_search"><a href="{% url 'openoni_search_advanced' %}">Advanced Search</a></li>
              </ul>
              {% endblock navbar_advancedsearch %}
            
              {% block navbar_search %}
              <form class="form-inline navbar-form navbar-right"  action="{% url 'openoni_search_pages_results' %}" method="get">
                <div class="form-group">
                  {{ city_form.city }}
                  <input type="hidden" name="rows" id="rows" alt="rows" value="20" />
                  <input type="hidden" name="searchType" alt="searchType" value="basic" />
                  <input class="form-control" type="text" name="proxtext" placeholder="search words">
                </div><!-- /form-group -->

                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"><span class="search_text">Search</span></span>
                </button>
              </form>
              {% endblock navbar_search %}

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        {% endblock navbar %}
